#skills {
    padding: 50px 20px;
    background-color: var(--background-color);
    text-align: center;
  }
  
  #skills h2 {
    margin-bottom: 20px;
  }
  
  #skills ul {
    list-style: none;
    padding: 0;
  }
  
  #skills ul li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    color: var(--text-color);
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  